<!DOCTYPE html>
<html>

<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Bodwich Tech. Sltns Ltd">

		<link rel="shortcut icon" href="/assets/images/favicon_1.ico">

		<title>Charms Resources Limited</title>

		<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/icons.css" rel="stylesheet" type="text/css" />
		<link href="/assets/css/style.css" rel="stylesheet" type="text/css" />

        <script src="/assets/js/modernizr.min.js"></script>

	</head>
	<body>
		{{{body}}}

		

		<script>
			var resizefunc = [];
		</script>

		<!-- jQuery  -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/tether.min.js"></script><!-- Tether for Bootstrap -->
		<script src="/assets/js/bootstrap.min.js"></script>
		<script src="/assets/js/detect.js"></script>
		<script src="/assets/js/fastclick.js"></script>
		<script src="/assets/js/jquery.slimscroll.js"></script>
		<script src="/assets/js/jquery.blockUI.js"></script>
		<script src="/assets/js/waves.js"></script>
		<script src="/assets/js/wow.min.js"></script>
		<script src="/assets/js/jquery.nicescroll.js"></script>
		<script src="/assets/js/jquery.scrollTo.min.js"></script>

		<script src="/assets/js/jquery.core.js"></script>
		<script src="/assets/js/jquery.app.js"></script>

	</body>
</html>