<div class="account-pages"></div>
		<div class="clearfix"></div>
		<div class="wrapper-page">
			<div class=" card-box">
				
				<div class="p-20">
					<form method="post" action="" role="form" class="text-center">
						<div class="user-thumb">
							<img src="/assets/images/charms.jpg" class="img-responsive rounded-circle img-thumbnail" alt="thumbnail">

							{{!-- <img src="/assets/images/charms.jpg" height="80" width="70" alt="CHARMS"> --}}
						</div>
						<div class="form-group">
							<h3>CHARMS RESOURCES</h3>
							<p class="text-muted">
								Welcome to CHARMS Invoice Manager
							</p>
							<div class="input-group m-t-30 offset-4">
								{{!-- <input type="password" class="form-control" placeholder="Password" required=""> --}}
								<center>
								<span class="input-group-btn">
									<a href="/user/login" class="btn btn-pink w-sm waves-effect waves-light">
										Start
									</a> 
								</span>
								</center>
							</div>
						</div>
						
					</form>
       

				</div>
			</div>
			
			{{!-- <div class="row">
				<div class="col-sm-12 text-center">
					<p>
						Not Chadengle?<a href="page-login.html" class="text-primary m-l-5"><b>Sign In</b></a>
					</p>
				</div>
			</div> --}}

		</div>